<p id="notice"><%= notice %></p>

<h1>Books SP</h1>

<ul class="p-books-index no-padding">
  <% @books.each do |book| %>
    <li class="p-book-info-mini flex-col">
      <div class="flex-row">
        <div class="image-left">
          <%= image_tag book.image_url ? book.image_url : 'book_gijutsusyo_it_set.png', 
                        alt: "iamge #{book.title}", class: "" %>
        </div>

        <div class="p-book-detail-mini">
          <h4><%= "#{book.title}
          " %></h4>
          <p><%= book.author %></p>
          <p><%= "発売 : #{book.released_at}" %></p>

          <% if book.is_rentaled %>
            <p class="book-status">
              この本は借りられています
            </p>
          <% end %>

          <div class="link-buttons">
            <button>
              <%= link_to '詳細', book_path(book.id) %>
            </button>
            <button>
              <%= link_to '借りる', new_borrow_path(id: book.id) %>
            </button>
          </div>

        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= will_paginate %>

<%= link_to 'New Book', new_book_path %>
