<div class="flex-col">
  <div class="p-book-show-img">
    <%= image_tag @book.image_url ? @book.image_url : 'book_gijutsusyo_it_set.png', 
                  alt: "iamge #{@book.title}", class: "" %>
  </div>
  <table class="p-book-show-info">
    <tr>
      <td class="info-item">タイトル</td>
      <td class="info-value"><%= @book.title %></td>
    </tr>
    <tr>
      <td class="info-item">サブタイトル</td>
      <td class="info-value"><%= @book.sub_title %></td>
    </tr>
    <tr>
      <td class="info-item">著者</td>
      <td class="info-value"><%= @book.author %></td>
    </tr>
    <tr>
      <td class="info-item">概要</td>
      <td class="info-value"><%= @book.caption %></td>
    </tr>
    <tr>
      <td class="info-item">発売</td>
      <td class="info-value"><%= @book.released_at %></td>
    </tr>
    <tr>
      <td class="info-item">購入</td>
      <td class="info-value">
        <% if @book.item_url %>
          <%= link_to "楽天のサイトを見る", @book.item_url, target: '_blank' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="info-item">ISBN</td>
      <td class="info-value"><%= @book.isbn_code %></td>
    </tr>
  </table>

  <button class="button-design">
    <%= link_to '一覧へ戻る', books_path %> 
  </button>
</div>
