<div class="p-return-books">
  <h4><%= "#{@user.name}さんが借りている本一覧" %></h4>

  <ul class="p-books-index no-padding flex-row">
    <% @now_rental_books.each do |book| %>
      <li class="flex-col p-book-info-mini">
        <div class="p-book-image">
          <%= image_tag book.image_url ? book.image_url : 'book_gijutsusyo_it_set.png', 
                        alt: "iamge #{book.title}", class: "" %>
        </div>

        <div class="p-book-detail-mini">
          <p class="title"><%= book.title %></p>
          <p class="author"><%= book.author %></p>
          <p class="publish_date"><%= "発売 : #{book.released_at}" %></p>
        </div>

        <div class="p-book-link-buttons">
          <button>
            <%= link_to '返却する', return_path(book.id), method: :post %>
          </button>
        </div>
      </li>
    <% end %>
  </ul>
</div>
