<header>
  <h2 class="txt-center">
    <%= link_to "Booknos", root_path %>
  </h2>

  <ul class="flex-inline">
    <% if logged_in? %>
      <li class="txt-center"><%= link_to "トップ", root_path %></li>
      <li class="txt-center"><%= link_to "ユーザー 一覧", users_path %></li>
      <li class="txt-center"><%= link_to "マイページ", current_user %></li>
      <li class="txt-center"><%= link_to "登録情報の変更", edit_user_path(current_user) %></li>
      <li class="txt-center"><%= link_to "ログアウト", logout_path, method: :delete %></li>
    <% else %>
      <li class="txt-center"><%= link_to "ログイン", login_path %></li>
    <% end %>
  </ul>

</header>
