<!DOCTYPE html>
<html>
  <head>
    <title>Booknos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'sp/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'sp/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <% if flash.first %>
      <div class="notifications">
        <% flash.each do |key, value| %>
          <div class="<%= key %>">
            <%= value %>
          </div>
        <% end %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
